<div class="container">
  <div class="row">

    <% @restaurants.each do |r|%>
      <div class="col-xs-12 col-sm-4">
        <%= render "restaurant", restaurant: r %>
      </div>
    <% end %>

  </div>
</div>



<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    </div>
    <div class="col-xs-12 col-sm-4">
    </div>
    <div class="col-xs-12 col-sm-4">
    </div>
  </div>
</div> -->
